spring:
  application:
    name: buses-reservation-and-parcels
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    hibernate:
      #For testing (validate para prod)
      ddl-auto: create-drop
    show-sql: ${SHOW_SQL}
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  jackson:
    serialization:
      write-dates-as-timestamps: false
  flyway:
    enabled: ${FLYWAY_ENABLED}
    baseline-on-migrate: true
    locations: classpath:db/migration

app:
  security:
    jwt:
      secret: ${SECRET_KEY}
      expiration: ${EXP_SECONDS}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: when_authorized

lombok:
  any:
    Constructor:
      suppressConstructorProperties: false